# file types to ignore
*.html
*.stl
*.mhd
*.raw
*.npy
*.inp
*.odb
*.env
*.dat
*.com
*.log
*.sim
*.prt
*.lock

# now folders
# environments & caches
.venv/
venv/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints/

# packaging artifacts
*.egg-info/
build/
dist/
__pycache__/
